<% provide(:title, "Experiment") %>
<h1>Analysis Wizard</h1>

<div class="row">
  <aside class="span4">
    <section>
      <h3><%= @experiment.description %></h3>
      <h3><%= @experiment.input_file %></h3>
    </section>
  </aside>
  <div class="span8">
    <div class="tool">
      <h3>Tool 1. Outlier detection for miRNA microarray.</h3>
      HCMMW uses IOD utility to detect outlier miRNAs with following algorithms:
      <dl class="dl-horizontal">
        <dt>LSOSS</dt>
        <dd>Least Sum of Ordered Subset Square t-statistic</dd>
        <dt>MOST</dt>
        <dd>Maximum Ordered Subset T-statistics </dd>
        <dt>COPA</dt>
        <dd>Cancer Outlier Profile Analysis</dd>
        <dt>ORT</dt>
        <dd>Outlier Robust T-statistic</dd>
        <dt>OS</dt>
        <dd>Outlier Sum statistic</dd>
        <dt>T</dt>
        <dd>student's T-test</dd>
      </dl>
    </div>
    <div class="tool">
      <h3>Tool 2. Extract targeting genes for outlier miRNAs.</h3>
      Extract all targeting genes of multiple miRNA from <a href="http://www.targetscan.org/">TargetScan</a>.<br />
      <span class="label label-info">Heads up!</span>To do this, you should provide <a href="http://www.mirbase.org/">miRBase</a> accession ID for each outlier.
    </div>
    <div class="tool">
      <h3>Tool 3. Enrichment analysis.</h3>
      HCMMW provides a neat way to perform enrichment from <a href="">DAVID</a>. Following terms are supported:
      <dl class="dl-horizontal">
        <dt>GO</dt>
        <dd>Enrichment for Gene Ontology.</dd>
        <dt>KEGG</dt>
        <dd>Enrichment for KEGG pathway.</dd>
      </dl>
    </div>
  </div>
</div>
