<footer class="footer">
  <small>
    HCMMW by
    <a href="mailto:tangyifei.tang@gmail.com" title="Send email to the author">Eragon Tang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Soochow University", 'http://www.suda.edu.cn' %></li>
      <li><%= link_to "Center for Systems Biology", 'http://www.sysbio.org.cn' %></li>
      <li><%= link_to "HCMMW", '#' %></li>
    </ul>
  </nav>
</footer>
